
# Librerías para el bot_antiguo.py

# Librería para interactuar con servicios web y manejar respuestas
requests

# Librería para la API del bot de Telegram
pyTelegramBotAPI

# Liberías para la News API
newsapi
newsapi-python


# -------------------------------------------------

# Librerías para el nuevo bot
langchain
openai
faiss-cpu
pypdf
pypdf2
flask-cors
gpt4all
flask
requests
jsonify
torch
transformers
sentence-transformers
accelerate
scikit-learn
dotenv
telegram