
# Librerías para el bot_telegram.py

# Librería para interactuar con servicios web y manejar respuestas
requests

# Librería para la API del bot de Telegram
pyTelegramBotAPI

# Liberías para la News API
newsapi
newsapi-python

# Librería de OpenAI
openai

# -------------------------------------------------

# Librerías para el nuevo bot
langchain
openai
faiss-cpu
pypdf
flask-cors
gpt4all
# chromadb
flask
requests
jsonify
torch
transformers
sentence-transformers
accelerate